p {
    font-family: Calibri;
}

h1,
h2,
 {
    font-family: 'Courier New';
    color: red;
}

body {
    font-family: 'Calibri';
}
a:link{color: red;}
a:visited{color:green;}
<style>
.div1 {
  border: 5px solid lightgray;
  background-color: lightblue;
  text-align: center;

}
</style>
